<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CubeConnectionString" connectionString="Data Source=172.16.88.18;Initial Catalog=Cube;User ID=amvia;Password=Vh0stDB" />
        <add name="RightFaxConnecionStrin" connectionString="Data Source=172.16.88.18;Initial Catalog=Cube;User ID=amvia;Password=Vh0stDB" />
        <add name="AmviaBillingVoxzal.Properties.Settings.CubeConnectionString"
            connectionString="Data Source=172.16.88.33;Initial Catalog=Cube;User ID=amvia;Password=Vh0stDB" />
        <add name="AmviaBillingVoxzal.Properties.Settings.RightFaxConnecionStrin"
            connectionString="Data Source=172.16.88.33;Initial Catalog=Cube;User ID=amvia;Password=Vh0stDB" />
        <add name="AmviaBillingVoxzal.Properties.Settings.VbillInfoConnectionString"
            connectionString="Data Source=172.16.88.18;Initial Catalog=VbillInfo;User ID=amvia;Password=Vh0stDB" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="VbillInfoConnectionString" value="Data Source=172.16.88.18;Initial Catalog=VbillInfo;User ID=amvia;Password=Vh0stDB" />
    <add key="OutputDir" value="C:\Users\Developer\Documents\AmviaBillingOutput" />
  </appSettings>
</configuration>